.site-header {
    .nav-link {
        color: #fff;
    }

    .active {
        color: #00f;
    }

    .btn {
        position: relative;
    }

    .cart-count {
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: 50;
    }

    &__burger-menu {
        display: none;
    }

    .hidden-header {
        position: fixed;
        top: 87px;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 20px;
        color: #fff;
        text-align: center;
        transform: translateX(100%);
        transition: 0.5s linear;
        display: flex;
        justify-content: center;
    }

    .show-header.hidden-header {
        transform: translateX(0);
    }

    @media only screen and (max-width: 768px) {
        .nav {
            display: none;
        }

        .hidden-header .nav{
            display: block;
        }

        &__burger-menu {
            display: block;
        }
    }
}
